@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300;400;500&family=Saira:wght@400;600&display=swap");

body {
  font-family: var(--ff-saira) !important;
}

#shop-now {
  background-color: rgba(226, 226, 226, 0.4);
  backdrop-filter: blur;
}
