@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-inter: "Inter", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
  --ff-saira: "Saira", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

.container {
  max-width: 1200px !important;
  margin-inline: auto !important;
  width: 95%;
}

img {
  object-fit: cover;
  max-width: 100%;
}

#grid-store {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
  width: 1000px !important;
}

/* products page component */

@media (min-width: 768px) {
  #products-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

/* footer components */

#footer-grid-wrapper {
  margin: 5rem 0;
}

#footer-grid-wrapper h5 {
  font-family: var(--ff-raleway);
  font-weight: 500;
  font-size: 18px;
}

#footer-grid-wrapper a {
  font-family: var(--ff-inter);
}
